/* Thêm màu nền rực rỡ cho các phần */
header {
    position: relative;
    height: 200px; /* Điều chỉnh chiều cao theo nhu cầu */
    background-color: #ff5733; /* Cam sáng */
    color: #ffffff;
}

.shopping-mall {
    position: absolute;
    bottom: 20px;
    font-variant: small-caps;
}

.shopping-mall > h1 {
    font-family: Impact, sans-serif;
    font-size: 50px;
    color: white;
    letter-spacing: 0.3px;
    text-shadow: 0 0 2px black;
    margin: 0; /* Xóa margin để loại bỏ khoảng trống */
}

.shopping-mall > h5 {
    margin-top: 5px;
    letter-spacing: 0.5px;
}

nav {
    background-color: #33c1ff; /* Xanh sáng */
    color: #ffffff; /* Trắng */
    padding: 10px;
    text-align: center;
}

article {
    background-color: #ffff33; /* Vàng sáng */
    color: #343a40; /* Xám đậm */
    padding: 20px;
}

aside {
    background-color: #33ff57; /* Xanh lá sáng */
    color: #343a40; /* Xám đậm */
    padding: 20px;
}

footer {
    background-color: #c700ff; /* Tím sáng */
    color: #ffffff; /* Trắng */
    padding: 10px;
    text-align: center;
}

/* Các thiết lập bổ sung cho body và container */
body {
    background-color: #ffccff; /* Nền hồng nhạt cho toàn bộ trang */
    font-family: Arial, sans-serif;
    margin: 0; /* Xóa margin mặc định của body */
}

.container {
    margin-top: 20px;
}
.poly-cart {
    margin-top: 5px;
}

.poly-cart ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-variant: small-caps;
}

.poly-cart .panel-heading strong {
    font-variant: small-caps;
    font-size: larger;
    text-shadow: 0 2px darkgray;
}
